* {
    margin: 0;
}

.background-img {
    background-image: url("/images/background.png");
    position: fixed;
    inset: 0;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}